body{
	background-color: #111;
	color: white;
}


#text_input{
	border: solid 1px white;
    background-color: black;
    color: #ddd;
    font-size: 24px;
    padding: 6px 12px;
    width: 200px;
    /*text-align: center;*/
}


.haiku_box{
	margin-top: 60px;
	text-align: center;
	font-size: 24px;
	line-height: 32px;
	font-family: 'Kalam', cursive;
	font-weight: 300;
}


.single_haiku_box{
	text-align: center;
}
.single_haiku_box.saved{
	background-color: #444;
}


.verse{
	margin: 2px;
}


.single-word{
	cursor: pointer;
	background-color: rgba(0,0,0,0);
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    transition: background-color 0.5s;
}
.single-word:hover{
	background-color: #444;
}



.no-select{
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}